.navItem {
  display: inline-block;
  list-style: none;
  margin-right: 60px;
  text-decoration: none;

  :hover {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
  }

  @media (max-width: 600px) {
    margin-right: 22px;

    :hover {
      text-decoration: none;
      color: white;
      border-bottom: 2px solid white;
    }
  }

  &Link {
    text-decoration: none;


    &Active {
      font-weight: 700;
      border-bottom: 2px solid rgb(0, 83, 135);
      color: rgb(0, 83, 135);
      text-decoration: none;
    }
  }
}
